<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company Jobs Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container py-5">
    <a class="btn btn-outline-warning" href="http://localhost:8080/">Back to Home</a>
    <h2>Company Jobs Form</h2>
    <form th:object="${job}" method="post">
        <input type="hidden" th:field="*{company.id}" th:value="${company}" />
        <div class="form-group">
            <label>Job Name:</label>
            <input type="text" th:field="*{name}" class="form-control" />
        </div>
        <div class="form-group">
            <label>Job Description:</label>
            <textarea th:field="*{description}" class="form-control"></textarea>
        </div>
        <h3>Add Job Skill</h3>
        <div id="section">
            <div class="mb-3" th:each="skill, status : *{jobSkills}">
                <div class="form-group">
                    <label>Skill Type:</label>
                    <select class="form-select" th:field="*{jobSkills[__${status.index}__].skill.type}">
                        <option th:each="type : ${T(vn.edu.iuh.fit.backend.enums.SkillType).values()}"
                                th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Skill Level:</label>
                    <select class="form-select mb-3" th:field="*{jobSkills[__${status.index}__].skillLevel}">
                        <option th:each="level : ${T(vn.edu.iuh.fit.backend.enums.SkillLevel).values()}"
                                th:value="${level}" th:text="${level}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Skill Name:</label>
                    <input type="text" th:field="*{jobSkills[__${status.index}__].skill.skillName}" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Skill Description:</label>
                    <input type="text" th:field="*{jobSkills[__${status.index}__].skill.skillDescription}" class="form-control" />
                </div>
                <div class="form-group">
                    <label>More Info:</label>
                    <input type="text" th:field="*{jobSkills[__${status.index}__].moreInfo}" class="form-control" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save Job</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>